<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/css/output.css">
        <%- style %>
        
    </head>

    <body class="bg-gray-100 dark:bg-gray-800">
        <%- include('_header'); %>

        <%- body %>


       

        <%- include('_footer'); %>
        <%- script %>
        
    </body>
</html>