<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/css/output.css">
        <%- style %>
        
    </head>

    <body class=" bg-gray-100 dark:bg-gray-800">
        <div class="relative min-h-full">
            <%- include('_header'); %>
            <%if(flash.success && flash.success.length>0){%>

                <h5><%=flash.success%></h5>
                
            <%} %>

            <%- body %>
    
    
           
    
            
        </div>
        <%- include('_footer'); %>
       
        <%- script %>
        
    </body>
</html>